<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- bootstrap style sheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!-- app's own style sheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- apps's own JS -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<div class="container">
		{% block main_body %}{% endblock %}
	</div>
</body>
</html>
