{% extends "layout.html" %}


{% block body %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">    
<div class="modal-content">
      
  <!-- header -->
  <div class="modal-header" style="text-align: center;">
    <h3 class="modal-title mr-auto ml-auto" id="exampleModalLabel">
      Welcome to Flack<br>
      <small class="text-muted">Live anonymous chat app</small>
    </h3>
  </div>
  
  <!-- body -->
  <div class="modal-body row justify-content-center">
    <form id="start_form" action="{{ url_for('index') }}" method="post">
      <!-- display name input -->
      <input id="display_name" name="display_name" type="text" autocomplete="none" class="form-control" placeholder="Display name" style="width: 250px">
      <div id="display_name_feedback"></div>

      <!-- avatar dropup -->
      <input id="avatar_number" name="avatar_number" value="default" style="display: none"></input>
      <div class="btn-group dropup mt-3">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 250px">
          <img id="avatar_selection" data-value="" src="../static/images/avatars/default.png"> <span id="avatar_selection_btn">avatar</span>
        </button>
        <div class="dropdown-menu" style="width: 300px; text-align: center">
          {% for i in range(1,14) %}
          <img class="avatar_option" data-value="{{i}}" src="../static/images/avatars/{{i}}.png">
          {% endfor %}
        </div>
      </div>

    </form>
  </div>
  
  <!-- footer -->
  <div class="modal-footer justify-content-center">
    <button form="start_form" class="btn btn-warning" style="width: 250px">Start Chatting</button>
  </div>

</div>
</div>
</div>


<!-- ------------------------------- -->

<!-- Chat Page -->
<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">

    <div class="sidebar-header">
      {% if session.get('display_name') %}
      <img class="avatar" src="../static/images/avatars/{{ session.get('avatar_number') }}.png">
      <strong class="name">{{ session.get('display_name') }}</strong>
      {% endif %}
    </div>
    
    <div class="channels-head">
      Channels 
      <a href="">add</a>
    </div>
    <div class="channels-list">
      <ul>
        {% for channel in app_storage["channels"] %}
          <li class="channel-li">{{ channel["name"] }}</li>
        {% endfor %}
      </ul>
    </div>

    <hr>
    
    <div class="users-head">
      Users
    </div>
    <div class="users-list">
      <ul>
        <!-- fix old usernames displayed after cookie deleted
 -->
        {% for user in app_storage["users"] %}
          <li class="user-li">{{ user["name"] }}</li>
        {% endfor %}
      </ul>
    </div>
   
  </nav>
  
  <!-- ------------------------------- -->

  <!-- Page Content -->
  <div id="content" class="container-fluid">
    
    <!-- head section -->
    <div class="row content-head">
      <div id="sidebarCollapse" title="toggle sidebar">
        <i class="fas fa-align-center"></i>
        <!-- <span>Toggle Sidebar</span> -->
      </div>
      <div id="channel-name" class="col align-self-center">
        <h4>Channel name</h4>
      </div>
    </div>
    
    <!-- messages section -->
    <div id="msg-body" class="row justify-content-center">
      <div class="col-11 align-self-end" style="padding: 0;">

        <div class="message">
          <img class="avatar" src="../static/images/avatars/9.png">
          <strong class="name">Amr Fekry</strong>
          <div class="text">
            Hello
            {% if session.get('display_name') %} 
              {{ session.get('display_name') }}!
            {% else %}
              there!
            {% endif %}
            welcome to Flack. <br> <br>
            You can join a group chat by clicking on any channel, or you can start your own channel. <br>
            You can also start a private chat between you and any other user.  
          </div>
        </div>

      </div>
    </div>
    
    <!-- message input section -->
    <div class="row form-group mt-2 justify-content-center align-items-end" style="margin: 0">
      <div class="col-11 input-group mb-3" style="padding: 0">
        <input id="msg-input" type="text" class="form-control msg-element">
        <div class="input-group-append">
          <button class="btn msg-element" id="msg-btn">Send</button>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
