{% extends "main_layout.html" %}

{% block title %}
    Welcome to Flack
{% endblock %}


{% block main_body %}
  <!-- HEADER -->
	<div class="row justify-content-center mt-5">
		<h3 calss="col-lg-6 col-sm-12" style="margin-right: 10px">
      Welcome to Flack
    </h3>
    <h3>
      <small class="text-muted">Live anonymous chat app</small>
    </h3>
  </div>
  
  <!-- FORM -->
  <form id="start_form" class="row justify-content-center mt-3" style="max-width: 500px; margin: 0 auto">
    <input id="display_name" name="display_name" type="text" autocomplete="none" class="col-sm-4 col-xs-12 form-control" placeholder="Display name" style="max-width: 220px">
    <select id="msg_bg" name="msg_bg" class="col-sm-4 col-xs-12 custom-select" style="max-width: 220px">
      <option selected hidden value="">Message color</option>
      <option value="green" style="background-color: #ADCAC0">Green</option>
      <option value="pink" style="background-color: #E0B1BB">Pink</option>
    </select>
    <button class="col-sm-4 col-xs-12 btn btn-warning" style="max-width: 220px">Start Chatting</button>
  </form>

  <!-- IMAGE -->
  <div class="row mt-5">
    <!-- https://undraw.co/search?q=chat -->
    <img class="col col-lg-6 col-md-8 col-sm-12 align-self-center" src="{{ url_for('static', filename='images/begin_chat.svg') }}" style="margin: 0 auto">
  </div>
{% endblock %}
